<mat-toolbar class="barra-color">
    <mat-toolbar-row>
        <h1>Finanzas</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="flex: 1 1 auto;"></span>
        <div class="user-info">
            <label class="user-name">
                {{usuario.nombre}} {{usuario.apellido}}
            </label>
            <button title="Cerrar Sesion" mat-icon-button (click)="cerrarSesion()">
                <mat-icon >logout</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="barra-color" #sidenav mode="side">
        <mat-nav-list>
            <mat-list-item routerLink="/pages/movimiento">
                <div class="menu-item">
                    <mat-icon class="icon" mat-list-icon>currency_exchange</mat-icon>
                    <div class="menu-text">Movimientos</div>
                </div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/categoria">
                <div class="menu-item">
                    <mat-icon class="icon" mat-list-icon>collections_bookmark</mat-icon>
                    <div class="menu-text">Categorías</div>
                </div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/informes">
                <div class="menu-item">
                    <mat-icon class="icon" mat-list-icon>receipt</mat-icon>
                    <div class="menu-text">Informes</div>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>