<div class="body">
    <div class="registro-container">
      <mat-card class="registro-card">
        <div class="header">
          <h2>Registro</h2>
        </div>
        <mat-card-content class="content">
          <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input formControlName="nombre" matInput autocomplete="off">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellido" matInput autocomplete="off">
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
  
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput autocomplete="off">
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input [type]="ocultarContrasena ? 'password' : 'text'"
                formControlName="clave" matInput autocomplete="off">
              <button mat-icon-button matSuffix
                (click)="ocultarContrasena = !ocultarContrasena" type="button">
                <mat-icon matSuffix>{{ ocultarContrasena ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
  
            <!-- <mat-form-field class="full-width" appearance="outline">
              <mat-label>Confirmar Contraseña</mat-label>
              <input [type]="ocultarContrasena ? 'password' : 'text'"
                formControlName="confirmarClave" matInput autocomplete="off">
              <button mat-icon-button matSuffix
                (click)="ocultarContrasena = !ocultarContrasena" type="button">
                <mat-icon matSuffix>{{ ocultarContrasena ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
   -->
            <button class="full-width" mat-raised-button color="primary" type="submit"
              [disabled]="formularioRegistro.invalid">
              Registrarse
              <mat-icon matSuffix>person_add</mat-icon>
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  